<h1>Virtual Scroll</h1>
<hr>

<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="irFinal()">Ir al final</button>
    </div>

    <div class="col text-center">
        <button class="btn btn-warning" (click)="irMedio()">Ir al medio</button>
    </div>

    <div class="col text-right">
        <button class="btn btn-success" (click)="irInicio()">Ir al inicio</button>
    </div>

</div>

<!--agregamos la clase list container de styles.css para que se pueda ver-->
<cdk-virtual-scroll-viewport itemSize="50" class="list-container list-group">

    <div class="list-group-item animate__animated animate__backInLeft" *cdkVirtualFor="let item of items; let i = index; let conteo = count">
        Item {{i}}/{{conteo}}
    </div>

</cdk-virtual-scroll-viewport>